* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;
}

@media (min-width: 280px) and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  html {
    font-size: 100%;
  }
}

.header {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  min-height: 1em;
  width: 90%;
  margin: 10em 6.8em 10em;
}

.logo {
  font-weight: 600;
  font-size: 5em;
  color: #fc697a;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: row;
  float: right;
}

.navbar ul li {
  position: relative;
  top: 0.5em;
  left: 0;
  right: 0;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em;
  color: rgb(39, 39, 243);
  
  text-transform: uppercase;
}
.navbar ul li a:hover {
  color: #fc697a;
}

.section-1 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  text-align: center;
  padding: 1em;
  background-color: rgb(239, 245, 250);
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
}

@media (max-width: 1200px) {
  .section-1 {
    grid-template-columns: 1fr;
  }
}

.section-1-content {
  display: flex;
  flex-direction: column;
}

.title {
  margin: auto;
  padding: 0.3em;
  font-size: 4rem;
  line-height: 1.5;
  color: turquoise;
  text-transform: capitalize;
  font-weight: 800;
  text-align: left;
  -webkit-text-stroke-color: rgb(39, 39, 243);
  -webkit-text-stroke-width: 0.01em;
}

p {
  line-height: 1.5;
  color: rgb(39, 39, 243);
  font-family: sans-serif;
  padding: 1em;
  float: left;
  text-align: left;
}

.btn-menu {
  margin: .5em;
  font-size: 1rem;
  cursor: pointer;
  float: left;
}

.btn-menu:hover {
  background-color: #fc697a;
}

.btn {
  width: 10em;
  margin: 1em;
  padding: 0.5em 1.5em;
  background-color: turquoise;
  font-size: 1rem;
  text-transform: capitalize;
  color: rgb(39, 39, 243);
  border-bottom: 0.1em;
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
  cursor: pointer;
  float: left;
}

.btn:hover {
  background-color: #fc697a;
}

.section-1-img {
  float: right;
  display: block;
  margin: 2em 0.5em 2em;
  padding: auto;
  width: min(800px, 80%);
}

.section-2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
  .section-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .section-2 {
    grid-template-columns: 1fr;
  }
}

.section-2-card-services {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 1.5em 0.2em 5em;
  padding: 0.5em;
  background-color: rgb(239, 245, 250);
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
}

.section-2-services-img {
  width: 25em;
  padding: 0.5em;
  margin: auto;
}
.section-2-services {
  width: 80%;
  display: inline-block;
  margin: 2em 0.5em 5em;
  padding: 0.5em;
}

.section-3 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  padding: 1em;
  text-align: center;
}

@media (max-width: 1600px) {
  .section-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .section-3 {
    grid-template-columns: 1fr;
  }
}

.section-3-contant {
  width: 100%;
  margin: auto;
}

.section-3-frame-img {
  margin: 8em 0.5em 8em;
  width: min(500px, 80%);
}

.i {
  width: 70%;
  border-radius: 5.5em;
}

h2 {
  font-size: 2rem;
  color: turquoise;
  margin: auto;
  -webkit-text-stroke-color: rgb(39, 39, 243);
  -webkit-text-stroke-width: 0.01em;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(39, 39, 243);
  margin: 0.2em;
  float: left;
  text-align: left;
}

.information {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  padding: 1em;
  border-radius: 1.5em;
  background-color: rgb(239, 245, 250);
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
  text-align: center;
}

.information-content {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  text-align: center;
}

@media (max-width: 840px) {
  .information-content {
    grid-template-columns: 1fr;
  }
}

.information-1 {
  margin: 0 2.5em;
}

h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: turquoise;
  margin-top: 2em;
  -webkit-text-stroke-color: rgb(39, 39, 243);
  -webkit-text-stroke-width: 0.02em;
}

.footer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 1em;
  text-align: center;
}

@media (max-width: 840px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

.footer-content {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 5em 2em 5em;
}

.logo {
  width: 3em;
  margin: 1.3em;
}

.footer-social {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 5em 2em 10em;
}
.footer-social img {
  margin: 0 30em 10em;
  padding: 3em;
  width: 30em;
  height: 30em;
}

/* boton flotante y popup animada*/

.floating {
  width: 10em;
  height: 2.5em;
  position: fixed;
  bottom: 5em;
  right: 5em;
  background-color: rgb(241, 245, 7);
  border-bottom: 0.1em;
  border-radius: 3em;
  box-shadow: 0 0 0.5em rgb(243, 245, 110);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(52, 56, 52);
}

.floating:hover {
  background-color: #7cb44c;
}

#popup:popover-open {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
  z-index: 99;
  animation: mostrar 0.5s ease-out;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-direction: normal;
}

@keyframes mostrar {
  from {
    transform: translateY(-200px);
  }
}

form {
  display: flex;
  flex-direction: column;
}

.principio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  margin: 1em;
  border-radius: 1.5em;
  background-color: rgb(247, 244, 242);
  box-shadow: 0 0 0.5em rgb(98, 98, 243);
}

.popup-content {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(52, 56, 52);
  margin-top: 1em;
  padding: 1em;
}

.popup-container {
  margin-top: 25em;
}
.severidad {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 2.5em .5em;
  width: 6.6em;
  height: 2em;
  border-radius: .8em;
  font-size: .8rem;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.severidad.visible {
  max-height: 20em; /* ajusta según contenido */
  opacity: 1;
}

.booleano {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.tex-option {
  font-size: .8rem;
  color: rgb(52, 56, 52);
}
.popup-btn {
  width: 10em;
  margin: 1em;
  padding: 0.5em 1.5em;
  float: right;
  background-color: rgb(241, 245, 7);
  font-size: 1rem;
  text-transform: capitalize;
  color: rgb(52, 56, 52);
  border-bottom: 0.1em;
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgb(243, 245, 110);
  cursor: pointer;
}
.popup-btn:hover {
  background-color: #7cb44c;
}

@media (min-width: 280px) and (max-width: 600px) {
  #floating,
  #popup:popover-open {
    font-size: 60%;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  #floating,
  #popup:popover-open {
    font-size: 80%;
  }
}
@media (min-width: 1281px) and (max-width: 1930px) {
  #floating,
  #popup:popover-open {
    font-size: 100%;
  }
}


